.App {
    padding: 30px;
    display: flex;
    background-color: aliceblue;
    height: 100vh;
    gap: 50px;
}

.todolist {
    border: 2px solid rgba(149, 169, 207, 0.89);
    padding: 15px;
    background-color: rgba(149, 169, 207, 0.68);
    height: max-content;
    border-radius: 3px;
}
