.App {
  display: flex;
  gap: 30px;
  padding: 30px;
  height: 100vh;
  background-color: #a8d1e7;
}

.todolist {
  display: inline-block;
  border: 2px solid #000;
  height: fit-content;
  padding: 10px 20px 20px;
  background-color: #eae8b8;
}

.task {
  font-weight: 600;
}

.task-done {
  text-decoration: line-through;
  opacity: .3;
}

.active-filter {
  background-color: #e7bf3f;
}

.input {
  outline: none;
}

.input-error {
  border: 2px solid red;
}
